[submodule "android-base"]
path = android-base
url =  /home/neugens/work_space/icedrobot2/icedrobot/android-base

[submodule "android-code"]
path = android-core
url = /home/neugens/work_space/icedrobot2/icedrobot/android-core

[submodule "apache-http"]
path = apache-http
url = /home/neugens/work_space/icedrobot2/icedrobot/apache-http

[submodule "nist-sip"]
path = nist-sip
url = /home/neugens/work_space/icedrobot2/icedrobot/nist-sip
